@model IEnumerable<MicrosoftTutorial.Models.Person>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User List";
}
   
 <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <p>
            <a class="btn btn-primary" href="https://localhost:44376/People/Create">Create</a>
            <a class="btn btn-primary" href="https://localhost:44376/People/Edit">Edit</a>
            <a class="btn btn-primary" href="https://localhost:44376/People/Delete">Delete</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model) {
                
                    <tr>
                        <td>@user.UserID</td>
                        <td>@user.City</td>
                        <td>@user.State</td>
                        <td>@user.Zip</td>
                    </tr>

                }
            </tbody>
        </table>
    </body>
    </html> 